body {
  font-size: 21px;
  line-height: 170%;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 300;
  background: linear-gradient(0.25turn, #eed239, #dd4c2f);
  padding: 10px 0;
}
body > div {
  background: #fff;
}
ul li {
  list-style: square;
}
.header,
.header .col-6 {
  min-height: 106px;
}
.background {
  background: linear-gradient(0.25turn, #eed239, #dd4c2f);
}
.hp .row {
  display: block;
  text-align: center;
  background: #eee;
}
.hp .row img {
  margin: 0 auto;
}
.box-anchor {
  display: block;
  color: #000;
  text-decoration: none;
}
.box-anchor:hover {
  background: #eee;
  color: #000;
  text-decoration: none;
}
.box-anchor:hover .btn-warning {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}
.list {
  overflow: hidden;
}
.list img {
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.list:hover img {
  transform: scale(1.04);
}
.clear {
  clear: both;
}
.iright {
  float: right;
  margin: 0 0 15px 15px;
}
.ileft {
  float: right;
  margin: 0 15px 15px 0;
}
a {
  color: #dd3333;
}
a:hover {
  color: #dd3333;
}
h1,
h2,
h3 {
  font-family: "Roboto", arial, sans-serif;
  font-weight: 300;
  padding: 30px 0 10px 0;
  margin: 0 0 15px 0;
}
h1:after,
h2:after,
h3:after {
  content: "";
  height: 5px;
  width: 100%;
  background: linear-gradient(0.25turn, #eed239, #dd4c2f);
  position: relative;
  display: block;
}
.footer a {
  color: #000;
}
.content {
  min-height: 50vh;
}
.primo_clanek h1,
.primo_clanek h2,
.primo_clanek h3 {
  margin-left: 50px;
}
p {
  padding: 0;
  margin: 0 0 5px 0;
}
.zpet_na {
  background: #f1bf0a;
  display: block;
  text-align: right;
  width: 100%;
  padding: 5px 15px;
  margin: 0 0 10px 0;
}
.kotva {
  padding: 0 0 15px 0;
}
.kotva h1,
.kotva h2,
.kotva h3 {
  border-bottom: 0 none;
}
.kotva h1 a,
.kotva h2 a,
.kotva h3 a {
  margin-left: 50px;
  border-bottom: 5px solid #f1bf0a;
  display: block;
}
.kotva h1 a img,
.kotva h2 a img,
.kotva h3 a img {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: #fff;
  border: 5px solid #f1bf0a;
  margin: 0 15px 15px -50px;
}
.kotva h1 a:hover,
.kotva h2 a:hover,
.kotva h3 a:hover {
  border-bottom: 5px solid #8f7106;
  text-transform: none;
}
.kotva h1 a:hover img,
.kotva h2 a:hover img,
.kotva h3 a:hover img {
  border: 5px solid #8f7106;
}
.kotva h1 img,
.kotva h2 img,
.kotva h3 img {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: #fff;
  border: 5px solid #f1bf0a;
  margin: 0 15px 15px -50px;
}
.kotva .perex {
  overflow: hidden;
}
blockquote {
  margin: 10px;
  padding: 10px;
  border-left: 3px solid #f1bf0a;
}
blockquote p em {
  text-align: right;
  display: block;
}
.galerie_obal_4957,
.galerie_obal_4951 {
  text-align: center;
}
.galerie_obal_4957 a,
.galerie_obal_4951 a {
  background: linear-gradient(0.25turn, #eed239, #dd4c2f);
  padding: 3px;
  margin: 5px 8px 0 8px;
  display: inline-block;
  overflow: hidden;
  width: 75px;
  height: 110px;
  text-align: center;
}
.galerie_obal_4957 a img,
.galerie_obal_4951 a img {
  width: 100%;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.galerie_obal_4957 a img:hover,
.galerie_obal_4951 a img:hover {
  transform: scale(1.3);
}
.galerie_obal_4957 a:empty,
.galerie_obal_4951 a:empty {
  display: none;
}
.form_error {
  color: #AA0000;
}
.text-small {
  font-size: 75%;
}
.btn-block {
  white-space: normal;
}
.garanti {
  background: #eee;
  display: block;
  width: 100%;
  padding: 10px 15px;
}
#top_menu {
  padding-top: 5px;
}
#top_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#top_menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#top_menu ul li.show a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#top_menu ul li > a {
  padding: 10px 20px 15px 20px;
  color: #000;
}
#top_menu ul li > a.active {
  background: #fff;
  cursor: default;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#top_menu ul li > a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#top_menu ul li .dropdown-menu {
  border-radius: 0;
  display: block;
  overflow: hidden;
  max-height: 0;
  min-width: 280px;
  width: 100%;
  position: absolute;
  background: #f1bf0a;
  transition: all 0.3s;
  border: 1px solid #fff;
  padding: 0;
}
#top_menu ul li .dropdown-menu li {
  margin: 0 0.5%;
  display: inline-block;
}
#top_menu ul li .dropdown-menu li a {
  padding: 3px 15px;
}
#top_menu ul li .dropdown-menu li a:before {
  content: '→ ';
}
#top_menu ul li .dropdown-menu li a.active {
  background: #8f7106;
  cursor: default;
}
#top_menu ul li .dropdown-menu li a:hover:before {
  content: '⇒ ';
}
#top_menu ul li.show > a {
  background: #8f7106;
}
#top_menu ul li .show {
  padding: 0.5% 0;
  max-height: 1000px;
  transition: all 0.3s;
  border: 1px solid #8f7106;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
}
@media only screen and (max-width: 767px) {
  #top_menu ul li .show {
    display: block;
    grid-template-rows: unset;
    grid-auto-flow: unset;
  }
}
@media only screen and (max-width: 992px) {
  #top_menu ul li .show {
    grid-template-rows: repeat(10, 1fr);
  }
}
#top_menu > ul > li > ul > li > a:hover {
  border-radius: 0;
}
#top_menu > ul > li > ul > li > a.active {
  border-radius: 0;
}
.blok_o_14001 .submenu_od_4015 {
  margin: 0;
  padding: 0;
  list-style: none;
}
.blok_o_14001 .submenu_od_4015 li {
  width: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.blok_o_14001 .submenu_od_4015 li a:before {
  content: '→ ';
}
.blok_o_14001 .submenu_od_4015 li a:hover {
  text-decoration: underline;
}
.blok_o_14001 .submenu_od_4015 li a:hover:before {
  content: '⇒ ';
}
.downmenu ul {
  list-style: none;
}
.downmenu ul li {
  list-style: none;
}
.downmenu ul li ul li {
  display: inline-block;
  list-style: none;
}
.downmenu a {
  color: #000;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}
.downmenu a:before {
  content: '→ ';
}
.downmenu a.active {
  background: #fff;
  cursor: default;
}
.downmenu-inline li {
  display: inline-block;
}
.fb-page,
.fb-page span,
.fb-page span iframe[style] {
  width: 100% !important;
}
@media only screen and (max-width: 1200px) {
  #top_menu ul li .show {
    padding: 1% 0;
  }
  .blok_o_14001 .submenu_od_4015 li {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  #top_menu ul li .dropdown-menu li {
    width: 100%;
    margin: 0;
  }
  #top_menu ul li .show {
    padding: 0;
  }
}
.thumbnail {
  position: relative;
  margin-bottom: 20px;
}
.thumbnail .embed-responsive {
  text-align: center;
}
.thumbnail .embed-responsive.embed-responsive-1by1::before {
  padding-top: 148%;
}
.thumbnail .embed-responsive .embed-responsive-item {
  background: linear-gradient(0.25turn, #eed239, #dd4c2f);
  padding: 5px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.thumbnail .embed-responsive img {
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.thumbnail .embed-responsive:hover img {
  transform: scale(1.3);
}
.thumbnail .embed-responsive:hover .cislo {
  border: 5px solid transparent;
}
.thumbnail .cislo {
  background: #fff;
  border: 5px solid #dd4c2f;
  color: #000;
  font-size: 40px;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  line-height: 60px;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.3s ease-in-out;
}
.thumbnail .caption {
  text-align: center;
}
.thumbnail .caption h4 {
  margin: 10px 0 5px 0;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 600;
  text-align: center;
}
.thumbnail .caption em {
  color: darkgray;
  font-size: 85%;
  line-height: 140%;
  display: inline-block;
}
.peopleInfo {
  font-size: 93%;
  line-height: 150%;
}
.formular table {
  width: 100%;
  border-collapse: collapse;
}
.formular table tr {
  width: 100%;
  border-collapse: collapse;
}
.formular table tr td,
.formular table tr th {
  border-collapse: collapse;
  padding: 10px 15px;
}
.formular table tr td input,
.formular table tr th input,
.formular table tr td textarea,
.formular table tr th textarea {
  padding: 15px 25px;
  border: 1px solid grey;
  border-radius: 3px;
  background: #fff;
  color: #333;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */