@font-face {
   font-family: 'roboto';
   font-style: normal;
   font-weight: 300;
   /* IE9 v kompatibilním rezimu: */
   src: url('files/roboto-300.eot');
   src:
   /* IE6-IE8: */
   url('files/roboto-300.eot?#iefix')
   format('embedded-opentype'),
   /* Vsechny moderní prohlízece: */
   url('files/roboto-300.woff')
   format('woff'),
   /* Starsí Safari, Android, iOS: */
   url('files/roboto-300.ttf')
   format('truetype'),
   /* iOS 4.3 a starsí */
   url('files/roboto-300.svg')
   format('svg');
}
@font-face {
   font-family: 'roboto';
   font-style: normal;
   font-weight: 400;
   /* IE9 v kompatibilním rezimu: */
   src: url('files/roboto-400.eot');
   src:
   /* IE6-IE8: */
   url('files/roboto-400.eot?#iefix')
   format('embedded-opentype'),
   /* Vsechny moderní prohlízece: */
   url('files/roboto-400.woff')
   format('woff'),
   /* Starsí Safari, Android, iOS: */
   url('files/roboto-400.ttf')
   format('truetype'),
   /* iOS 4.3 a starsí */
   url('files/roboto-400.svg')
   format('svg');
}
@font-face {
   font-family: 'roboto';
   font-style: normal;
   font-weight: 700;
   /* IE9 v kompatibilním rezimu: */
   src: url('files/roboto-700.eot');
   src:
   /* IE6-IE8: */
   url('files/roboto-700.eot?#iefix')
   format('embedded-opentype'),
   /* Vsechny moderní prohlízece: */
   url('files/roboto-700.woff')
   format('woff'),
   /* Starsí Safari, Android, iOS: */
   url('files/roboto-700.ttf')
   format('truetype'),
   /* iOS 4.3 a starsí */
   url('files/roboto-700.svg')
   format('svg');
}